.filter {
    text-align: center;
    border-bottom: 1px solid #b4c1cf;
}

.filter label {
    color : #ffffff;
    font-family: 'Shadows Into Light', cursive;
    padding: 4px;
    cursor: pointer;
}

.checkbox-genre {
    display: inline-block;
}

.filter input[type="radio"]{
    display: none;
}

.filter input[type="radio"]:checked + label {
    background-color: #112f61;
    color: whitesmoke;
    padding: 8px;
    border-radius: 2px;
}

@media (max-width : 685px){
    .filter div {
        display: block;
        text-align: left;
        padding: 10px;
        font-size: 20px;
        background-color: #6495ed;
    }

    .filter {
        position: absolute;
        width: 250px;
        padding-top: 0px;
        top: 100px;
        right: 50px;
        margin-top: -50px;
        background-color: white;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    .container {
        display: inline-block;
        cursor: pointer;
        width : 40px;
        height : 40px;
        background-image: url('menu-icon.png');
        position: absolute;
        padding: 5px;
        top: 0px;
        left: 0px;
    }

    .filter input[type="radio"]:checked + label {
        background-color: #6495ed;
        cursor: pointer;
        color:rgb(8, 16, 134)
    }

    .slideout {
        right: -200px;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }
}